<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Kviz | Tehnička kultura</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/main.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/home.css') }}"
    />
  </head>

  <script>
    function startQuiz() {
      window.location.href = `/quiz`;
    }
  </script>
  <body>
    <div class="content">
      <div class="container">
        <h1>Kviz iz Tehničke kulture</h1>

        <p class="subtitle">
          Korištenjem ove web stranice pristajete na
          <a href="/privacypolicy">Privacy Policy</a>
        </p>

        <button class="btn" onclick="startQuiz();">Započni kviz</button>
      </div>
    </div>
  </body>
</html>
