<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Kviz | Tehnička kultura</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/main.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/legal.css') }}"
    />
  </head>
  <body>
    <div id="wrapper">
      <div class="container">
        <div class="content">
          <div>
            <h1>Privacy Policy</h1>
            <div class="descr">
              <p>
                THIS WEBPAGE IS FOLLOWINGLY DEFINED BY “US”, “WE”, AND “OUR”
                OPERATES THIS WEBPAGES SERVICES. <br />
                WE USE YOUR DATA TO PROVIDE AND IMPROVE THE SERVICE. BY USING
                IT, YOU AGREE TO THE FOLLOWING <br />
                PRIVACY POLICY, INCLUDING THE COLLECTION OF YOUR DATA.
                <br /><br />

                IN ORDER FOR OUR SERVICES TO WORK, WE WILL COLLECT DATA SUCH AS
                YOUR IP ADRESS FOR RATE-LIMITING <br />
                PURPOSES. UPON STARTING THE QUIZ, YOU WILL BE ASSIGNED A
                PRIVATE, NON-TRACEABLE, ANOMYNOUS, <br />
                UNIQUE IDENTIFIER PURELY FOR ANALYTICAL PURPOSES OF YOUR QUIZ
                RESULTS. ANYONE THAT KNOWS LATTER <br />
                MENTIONED IDENTIFIER CAN ACCESS THE DATA WE STORE ON OUR
                SERVERS. YOUR DATA IS HELD IN MEMORY AND <br />
                IS REMOVED UPON SERVER RESTART.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
