<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Kviz | Tehnička kultura</title>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/main.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/quiz.css') }}"
    />
    <script src="{{url_for('static', filename='scripts/quiz.js')}}"></script>
  </head>

  <body>
    <div id="wrapper">
      <aside>
        <div class="results">
          <p><span id="question-num">0/150</span> pitanja odgovoreno</p>
          <p id="id-key"></p>
          <p>
            Tačnih/Netačnih odgovora:
            <br /><br />

            <span id="answers-correct" style="color: green">0</span>
            /
            <span id="answers-incorrect" style="color: red">0</span>
          </p>
        </div>
      </aside>

      <div class="content">
        <div class="container">
          <p id="question"></p>

          <form>
            <div class="option">
              <input type="radio" value="a" id="ans-a" name="answer_rb" />
              <label for="ans-a" id="ans-a-label"></label><br />
            </div>

            <div class="option">
              <input type="radio" value="b" id="ans-b" name="answer_rb" />
              <label for="ans-b" id="ans-b-label"></label><br />
            </div>

            <div class="option">
              <input type="radio" value="c" id="ans-c" name="answer_rb" />
              <label for="ans-c" id="ans-c-label"></label><br />
            </div>

            <div class="option">
              <input type="radio" value="d" id="ans-d" name="answer_rb" />
              <label for="ans-d" id="ans-d-label"></label><br /><br />
            </div>

            <button class="validate-btn" type="button">Podnesi odgovor</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
