.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 4em;
}

.content .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 4em;
}

.content h1 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 4rem;
}

.subtitle {
  font-weight: 300;
}
