#wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
  text-transform: uppercase;
}

.descr {
  margin-top: 3em;
  line-height: 1.8;
}
